@import "tailwindcss";

:root {
  --bg-primary: #F3EDE3;
  --text-primary: #1A1A1A;
  --text-muted: #6B6B6B;
  --gold: #B89B5E;          
  --line: #D8CFC0;
}

@theme {
  --color-bg: var(--bg-primary);
  --color-text: var(--text-primary);
  --color-muted: var(--text-muted);
  --color-gold: var(--gold);
  --color-line: var(--line);
  --font-soligant: var(--font-soligant);
  --font-main: var(--font-main);
  --font-serif:sans-serif;
  --font-sans: IvorySans, sans-serif;
}


body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-main);
  font-size: 18px !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-soligant) !important;
}
